.Modal {
  position: fixed;
  z-index: 500;
  height: 400px;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 15%;
  box-sizing: border-box;
  transition: all 0.5s ease-out;
  overflow-y: scroll;
  /* Firefox */
  scrollbar-width: none;
  /* IE 10+ */
  -ms-overflow-style: none;
}

@media (min-width: 600px) {
  .Modal {
      width: 500px;
      left: calc(50% - 250px);
  }
}

.PlayerList {
  display: flex;
  justify-content: space-between;
}